@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-width: 375px;
}

:root {
  --clr-primary: hsl(0, 0%, 100%);
  --clr-secondary: hsl(231, 77%, 90%);
  --clr-accent: hsl(0, 0%, 59%);
  --clr-black: hsl(230, 35%, 7%);

  --ff-title: "Bellefair", serif;
  --ff-primary: "Barlow", sans-serif;
  --ff-secondary: "Barlow Condensed", sans-serif;
}

body {
  font-family: var(--ff-primary);
  text-align: center;
  min-height: 100vh;
  padding-bottom: 0.001px;
  color: var(--clr-secondary);
}

.main-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -2;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

h1 {
  font: 8rem var(--ff-title);
  margin: 1.6rem 0;
  color: var(--clr-primary);
}

p {
  font-size: 1.5rem;
  line-height: 25px;
  width: 327px;
  margin: 0 auto;
}

sub {
  font: 1.6rem var(--ff-secondary);
  letter-spacing: 2.7px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 15rem;
    margin: 2.4rem 0;
  }

  p {
    font-size: 1.6rem;
    line-height: 28px;
    width: 444px;
  }

  sub {
    font-size: 2rem;
    letter-spacing: 3.375px;
  }
}

@media (min-width: 1440px) {
  p {
    font-size: 1.8rem;
    line-height: 32px;
  }

  sub {
    font-size: 2.8rem;
  }
}

/* >header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 2.4rem;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: white;
}

.menu-btn {
  width: 24px;
  height: 21px;
  z-index: 0;
}

.close-btn {
  position: absolute;
  top: 34px;
  right: 26px;
  width: 19px;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 254px;
  min-height: 100vh;
  overscroll-behavior: contain;
}

nav.show {
  display: block;
  z-index: 2;
}

nav .bg {
  position: absolute;
  inset: 0;
  background: hsla(0, 0%, 100%, 0.039);
  backdrop-filter: blur(81.5485px);
  z-index: -1;
}

ul a {
  color: unset;
  text-decoration: none;
}

ul.tabs {
  display: grid;
  gap: 1.9rem;
  list-style: none;
  font: 16px var(--ff-secondary);
  padding-left: 3.2rem;
  margin-top: 11.8rem;
}

li .index {
  display: inline-block;
  font-weight: 700;
  width: 19px;
}

li .tab-name {
  text-transform: uppercase;
  margin-left: 1.1rem;
}

ul a {
  display: inline-block;
  padding: 0.65rem 0;
  outline: none;
}

ul a.active {
  width: 100%;
  border-right: 4px solid white;
}

@media (min-width: 768px) {
  header {
    padding: 0;
  }

  .logo {
    width: 4.8rem;
    height: 4.8rem;
    margin: 2.4rem 4rem;
  }

  .menu-btn,
  .close-btn,
  li .index {
    display: none;
  }

  nav,
  nav.show {
    position: relative;
    display: block;
    width: 450px;
    min-height: fit-content;
    padding: 3.9rem 4.8rem;
    padding-bottom: 0;
  }

  ul.tabs {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  ul a {
    padding-top: 0;
    padding-bottom: 3.6rem;
    border-bottom: 4px solid transparent;
  }

  li:hover a,
  ul a:focus {
    border-bottom: 4px solid rgba(255, 255, 255, 0.4);
  }

  ul a.active {
    border-right: none;
    border-bottom: 4px solid white;
  }

  li .tab-name {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  header {
    padding: 4rem 5.5rem;
    padding-right: 0;
  }

  .logo {
    margin: 0;
  }

  nav,
  nav.show {
    width: 830px;
    padding: 3.9rem 16.5rem 0 12.3rem;
  }

  nav::after {
    position: absolute;
    top: 50%;
    right: 95%;
    content: "";
    width: 500px;
    height: 1px;
    background: white;
    opacity: 0.25;
  }

  ul.tabs {
    width: 520px;
  }

  ul a {
    padding-bottom: 3.4rem;
  }

  li .index {
    display: inline-block;
    margin-right: 11px;
    letter-spacing: 2.7px;
  }
}

/* >home */
.home .content {
  margin: 5.8rem 2.4rem;
}

.explore-btn {
  position: relative;
  display: grid;
  place-content: center;
  font: 2rem var(--ff-title);
  text-decoration: none;
  letter-spacing: 1.25px;
  width: 150px;
  height: 150px;
  margin: 8.1rem auto 4.8rem;
  outline: none;
  border: none;
  border-radius: 100vh;
  color: var(--clr-black);
  background-color: white;
}

.explore-btn:hover::before,
.explore-btn:focus::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 230px;
  height: 230px;
  border-radius: 100vh;
  background: hsla(0, 0%, 100%, 0.1);
}

@media (min-width: 768px) {
  .home .content {
    margin: 10.6rem 15.9rem;
  }

  .explore-btn {
    font-size: 3.2rem;
    letter-spacing: 2px;
    width: 242px;
    height: 242px;
    margin: 15.6rem auto 9rem;
  }

  .explore-btn:hover::before,
  .explore-btn:focus::before {
    width: 330px;
    height: 330px;
  }
}

@media (min-width: 1440px) {
  .home {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .home .content {
    margin: 25.1rem 0 13.1rem 16.5rem;
  }

  .explore-btn {
    margin: 35.9rem 0 0 38.6rem;
  }

  picture {
    position: absolute;
  }
}
